<section id="hero-container">
  <div class="container">
    <div class="row">

      <div id="welcome" class="col" [ngStyle]="{'color': setColorToWelcome()}">
        <h2>{{ welcome }}</h2>
        <h1>{{ myName }}</h1>
        <p>{{ aboutMe }}</p>
        <button [routerLink]="['/about-me']" mat-flat-button color="primary">About me</button>
      </div>

      <div class="col" id="code-home">
        <img src="../../../assets/images/code-home.svg" alt="svg">
      </div>

    </div>
  </div>
</section>

<section id="tecnology">
  <h2>I live each day with the curiosity of what is happening in the field of technology</h2>
</section>

<section id="skills">
  <h2>Skills</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <img class="imagen" src="../../../assets/images/frontend.svg" alt="Card image cap" width="20px">
              </div>
              <div class="flip-card-back">
                  <img src="../../../assets/images/codificacion-html.png" alt="">
                  <div class="row no-gutters">
                      <div class="card-body">
                          <h5 class="card-title">FrontEnd</h5>
                          <p class="card-text pl-2 mt-2">{{ frontend }}</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <img src="../../../assets/images/logic.svg" alt="Card image cap">
              </div>
              <div class="flip-card-back">
                <img src="../../../assets/images/logica.png" alt="">
                  <div class="row no-gutters">
                      <div class="card-body">
                          <h5 class="card-title">Logic</h5>
                          <p class="card-text pl-2 mt-2">{{ logic }}</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <img src="../../../assets/images/backend.svg" alt="Card image cap">
              </div>
              <div class="flip-card-back">
                <img src="../../../assets/images/server.png" alt="">
                  <div class="row no-gutters">
                      <div class="card-body">
                          <h5 class="card-title">Backend</h5>
                          <p class="card-text pl-2 mt-2">{{ backend }}</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


