:root {
    --facebook: #3b5998;
    --twitter: #00aced;
    --linkedin: #0e76a8;
    --twitch: #6441a5;
    --github: #171515;
}

.redes-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-container ul li {
    display: block;
    margin: 0 10px;
    width: 30px;
    height: 25px;
    text-align: center;
    margin-top: 15px;
}

.redes-container ul li a {
    display: block;
    padding: 8px;
    background: #333;
    color: white;
    font-size: 14px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    border-radius: 50px;
    transition: .2s;
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .2);
}

.redes-container ul li .facebook:hover {
    background: var(--facebook);
}

.redes-container ul li .linkedin:hover {
    background: var(--linkedin);
}

.redes-container ul li .twitch:hover {
    background: var(--twitch);
}

.redes-container ul li .twitter:hover {
    background: var(--twitter);
}

.redes-container ul li .github:hover {
    background: var(--github);
}

.right-side p {
    text-align: center;
    color: white
}
