<section id="hero-container">
  <div class="container">
    <div class="row">

      <div id="welcome" class="col" [ngStyle]="{'color': setColorToWelcome()}">
        <h2>{{ welcome }}</h2>
        <h1>{{ myName }}</h1>
        <p>{{ aboutMe }}</p>
        <button mat-flat-button color="primary">About me</button>
      </div>

      <div class="col" id="code-home">
        <img src="../../../assets/images/code-home.svg" alt="svg">
      </div>

    </div>
  </div>
</section>

<section id="tecnology">
  <h2>I live each day with the curiosity of what is happening in the field of technology</h2>
</section>

<section id="skills">
  <h2>Skills</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/frontend.svg" alt="Card image cap">
          <h5 class="card-title">Front-end</h5>
          <div class="card-body">
            <p class="card-text">{{ frontend }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/logic.svg" alt="Card image cap">
          <h5 class="card-title">Logic</h5>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/backend.svg" alt="Card image cap">
          <h5 class="card-title">Back-end</h5>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
